@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAEBEB;
}
.mainLogin{
    background-color: #FAF5FF;
}
.logins{ 
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15x;
  width: 400px;
  height: 250px;
}
.input{
    border-radius: 5px;
    caret-color: #E7A2A2;
}
.input:focus{
    outline: none;
}
.input::placeholder{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#add_customer{
    width: 200px;
    height: 350px;
    padding: 10px;
    /* border: 1px solid black; */
}
#enter_details{
    width: 500px;
    height: 350px;
}
#customer_btn, #view{
    font-size: 20px;
}
