@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(4px);          /* mild blur */
    transform: scale(1.05);     /* avoid blur edges */
    z-index: -1;
}
.mainLogin{
    background-color: #FAF5FF;
}
.logins{ 
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15x;
  width: 400px;
  height: 250px;
}
.input{
    border-radius: 5px;
    caret-color: #E7A2A2;
}
.input:focus{
    outline: none;
}
.input::placeholder{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#add_customer{
    width: 200px;
    height: 350px;
    padding: 10px;
    /* border: 1px solid black; */
}
#enter_details{
    width: 500px;
    height: 350px;
}
#customer_btn, #view{
    font-size: 20px;
}
.glass {
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);

    border-radius: 16px;
}
@media (max-width: 768px) {
    .glass {
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }
}

@media (max-width: 768px) {
    body::before {
        filter: blur(2px);
    }
}

