@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAEBEB;
}
.mainLogin{
    background-color: #FAF5FF;
}
.logins{ 
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15x;
  width: 400px;
  height: 250px;
}
.input{
    border-radius: 5px;
    caret-color: #E7A2A2;
}
.input:focus{
    outline: none;
}
.input::placeholder{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#add_customer{
    width: 200px;
    height: 350px;
    padding: 10px;
    /* border: 1px solid black; */
}
#enter_details{
    width: 500px;
    height: 350px;
}
#customer_btn, #view{
    font-size: 20px;
}
/* ================= DARK MODE ================= */
.dark {
    background-color: #121212 !important;
}

.dark body {
    background-color: #121212 !important;
}

/* Cards & containers */
.dark #enter_details,
.dark #viewRecord,
.dark #itemsPage > div,
.dark #billModal > div,
.dark #historyModal > div {
    background-color: #1e1e1e !important;
    color: #e5e5e5 !important;
}

/* Inputs */
.dark input,
.dark textarea {
    background-color: #2a2a2a !important;
    color: #fff !important;
    border-color: #444 !important;
}

/* Tables */
.dark table th {
    background-color: #2b2b2b !important;
}

.dark table td {
    border-color: #333 !important;
}

/* Buttons */
.dark button {
    color: #fff;
}

/* Scrollbars */
.dark ::-webkit-scrollbar {
    width: 6px;
}
.dark ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

